html 
  head  
    title New Contact      
    link(rel="stylesheet" href="/common.css")
  body 
    h1 Add new Contact
    a(href="/" style="margin-left: 15px") All contacts 
    if(notValidValue)
      p.validation= message 
    .container 
      form(method="post" action="/contacts/new") 
        p Contact FullName
        input.input-field(name= "contName" placeholder= "Keanu Reeves")
        p Contact Phone
        input.input-field(name= "contPhone" placeholder= "+37477 777777") 
        br
        button(type="submit").common-button Add new contact
  
